<h2> Add a Blog Post </h2>
    <%= form_with model: @blog, local: true do |form|%>
        <%= form.label :title %>
        <%= form.text_field :title %>

        #  trying to implement error message upon validation

        <% if @blog.errors.any? %>
            <div id=''>
                <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

                <ul> <% @blog.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <br>
        <br>
        <%= form.label :content %>
        <%= form.text_field :content %>
        <br>
        <br>
        <%= form.submit 'Add Blog' %>
    <% end %>
    <h4> <%= link_to 'Back Home', blogs_path %> </h4>